In [1]:
import yfinance as yf
from lxml import html
import pandas as pd
import sys, requests, math
import numpy as np

In [2]:
benchmark_path = "/Users/conniexu/Documents/Finances/Stocks/.vscode" # put your internal-benchmarking file path
sys.path.append(benchmark_path)

In [3]:
from web_scrape import scrape_three_fs
from web_scrape import scrape_analysis

In [4]:
symbol = 'MSFT'

In [5]:
df = scrape_three_fs(symbol)
an = scrape_analysis(symbol)

Attempting to scrape data for MSFT

In [6]:
def add_with_dates(name, data, dfresult):
    dates = list(df['Date'])
    currdate = df.loc[3, 'Date']
    curryear = int(currdate[currdate.rindex('/') + 1:])
    for i in range(num_predict_years):
        curryear += 1
        dates.append(currdate[:currdate.rindex('/') + 1:] + str(curryear))
    dfresult2 = pd.DataFrame(data, dates)
    dfresult2 = dfresult2.transpose()
    dfresult2.index = [name]
    try:
        values = dfresult.loc[name]
    except:
        dfresult = dfresult.append(dfresult2)
    return dfresult

def convert(num):
    if num[len(num) - 1] == '%':
        num = float(num[:len(num) - 1]) / 100
    elif num[len(num) - 1] == 'B':
        num = round(float(num[:len(num) - 1]) * 10 ** 6)
    return num

def average(vals):
    return sum(vals)/len(vals)

def find_rate(data1, data2):
    rates = []
    for i in range(len(data1)):
        rates.append(data1[i] / data2[i])
    rate = average(rates)
    return rate

In [7]:
fcf_rate = find_rate(df['Free Cash Flow'], df['Net Income Common Stockholders'])
print("FCF Rate: " + str(fcf_rate))

FCF Rate: nan

In [8]:
num_predict_years = 4
revenue_estimates = an['Revenue Estimate'].loc['Avg. Estimate']
sales_growth_estimates = an['Revenue Estimate'].loc['Sales Growth (year/est)']

# get revenue
revenue = list(df['Total Revenue'])

# get growth rate
rev_growth_rates = []
for i in range(len(revenue) - 1):
    rev_growth_rates.append((revenue[i + 1] - revenue[i]) / revenue[i])
curr_year_growth_rate = convert(sales_growth_estimates.loc[3])
next_year_growth_rate = convert(sales_growth_estimates.loc[4])
rev_growth_rates.append(curr_year_growth_rate)
rev_growth_rates.append(next_year_growth_rate)
rev_growth_rate = average([average(rev_growth_rates), average([curr_year_growth_rate, next_year_growth_rate])])

# add predicted revenues
revenue.append(convert(revenue_estimates.loc[3]))
revenue.append(convert(revenue_estimates.loc[4]))
yearp_estimate = (1 + rev_growth_rate) * convert(revenue_estimates.loc[4])
revenue.append(yearp_estimate)
for i in range(num_predict_years - 3):
    yearn_estimate = (1 + rev_growth_rate) * yearp_estimate
    revenue.append(yearn_estimate)
    yearp_estimate = yearn_estimate

# add dates
print("Revenue Growth Rate: " + str(rev_growth_rate))
dfresult = pd.DataFrame()
dfresult = add_with_dates('Total Revenue', revenue, dfresult)
dfresult

Revenue Growth Rate: nan

,ttm,6/30/2017,6/30/2018,6/30/2019,NaN,6/30/2020,6/30/2021,6/30/2022,6/30/2023
Total Revenue,138699000.0,89950000.0,110360000.0,125843000.0,NaN,141480000.0,156630000.0,NaN,NaN

In [9]:
# get Net Income Margins
net_income = list(df['Net Income Common Stockholders'])
net_income_margin = find_rate(net_income, revenue)

for i in range(num_predict_years):
    net_income.append(revenue[len(revenue) - num_predict_years + i] * net_income_margin)
    
# output data
print("Net Income Margin: " + str(net_income_margin))
dfresult = add_with_dates('Net Income', net_income, dfresult)
dfresult

Net Income Margin: nan

,ttm,6/30/2017,6/30/2018,6/30/2019,NaN,6/30/2020,6/30/2021,6/30/2022,6/30/2023
Total Revenue,138699000.0,89950000.0,110360000.0,125843000.0,NaN,141480000.0,156630000.0,NaN,NaN
Net Income,46266000.0,21204000.0,16571000.0,39240000.0,NaN,NaN,NaN,NaN,NaN

In [10]:
# get Free Cash Flow projections
fcf = list(df['Free Cash Flow'])
for i in range(num_predict_years):
    fcf.append(net_income[len(net_income) - num_predict_years + i] * fcf_rate)

dfresult = add_with_dates('Free Cash Flow', fcf, dfresult)
dfresult

,ttm,6/30/2017,6/30/2018,6/30/2019,NaN,6/30/2020,6/30/2021,6/30/2022,6/30/2023
Total Revenue,138699000.0,89950000.0,110360000.0,125843000.0,NaN,141480000.0,156630000.0,NaN,NaN
Net Income,46266000.0,21204000.0,16571000.0,39240000.0,NaN,NaN,NaN,NaN,NaN
Free Cash Flow,43362000.0,31378000.0,32252000.0,38260000.0,NaN,NaN,NaN,NaN,NaN

In [11]:
interest_rate = df.loc[4, 'Interest Expense'] / df.loc[3, 'Total Debt']
effective_tax_rate = df.loc[4, 'Tax Provision'] / df.loc[4, 'Pretax Income']
cost_of_debt = interest_rate * (1 - effective_tax_rate)

In [12]:
tyx_page = requests.get('https://finance.yahoo.com/quote/%5ETYX?p=%5ETYX')
tree = html.fromstring(tyx_page.content)
tyx = float(tree.xpath("//div[contains(@class, 'smartphone_Mt(6px)')]")[0].xpath('./div/span/text()[1]')[0])/100
regi = yf.Ticker('REGI')
beta = regi.info['beta']
CAPM = tyx + beta * (0.1 - tyx)

In [13]:
enterprise_value = df.loc[3, 'Total Debt'] + (regi.info['marketCap'] / 1000)
debt_weight = df.loc[3, 'Total Debt'] / enterprise_value
WACC = debt_weight * cost_of_debt + CAPM * (1 - debt_weight)
print('WACC: ' + str(WACC))

WACC: nan

In [14]:
discount_factor = 1 + WACC
present_value = [np.nan] * (len(dfresult.columns) - num_predict_years)
sum_pv = 0
for i in range(1, num_predict_years + 1):
    pv = fcf[len(fcf) - num_predict_years + i - 1] / (discount_factor ** i)
    sum_pv += pv
    present_value.append(pv)
dfresult = add_with_dates('Present Value of Future Cash Flow', present_value, dfresult)
dfresult

,ttm,6/30/2017,6/30/2018,6/30/2019,NaN,6/30/2020,6/30/2021,6/30/2022,6/30/2023
Total Revenue,138699000.0,89950000.0,110360000.0,125843000.0,NaN,141480000.0,156630000.0,NaN,NaN
Net Income,46266000.0,21204000.0,16571000.0,39240000.0,NaN,NaN,NaN,NaN,NaN
Free Cash Flow,43362000.0,31378000.0,32252000.0,38260000.0,NaN,NaN,NaN,NaN,NaN
Present Value of Future Cash Flow,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
perpetual_growth_rate = 0.025
latest_fcf = fcf[len(fcf) - 1] * (1 + perpetual_growth_rate)
terminal_value = latest_fcf / (WACC - perpetual_growth_rate)
discounted_terminal_value = terminal_value / (discount_factor ** num_predict_years)
sum_pv += discounted_terminal_value
tv_data = pd.DataFrame(data={'Terminal Value': [terminal_value, discounted_terminal_value]}, index=['Free Cash Flow', 'Present Value of Future Cash Flow'])
pd.concat([dfresult, tv_data], axis=1)

,ttm,6/30/2017,6/30/2018,6/30/2019,NaN,6/30/2020,6/30/2021,6/30/2022,6/30/2023,Terminal Value
Total Revenue,138699000.0,89950000.0,110360000.0,125843000.0,NaN,141480000.0,156630000.0,NaN,NaN,NaN
Net Income,46266000.0,21204000.0,16571000.0,39240000.0,NaN,NaN,NaN,NaN,NaN,NaN
Free Cash Flow,43362000.0,31378000.0,32252000.0,38260000.0,NaN,NaN,NaN,NaN,NaN,NaN
Present Value of Future Cash Flow,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
shares_outstanding = (regi.info['sharesOutstanding'] / 1000)
intrinsic_value = sum_pv/shares_outstanding

nan

In [17]:
page = requests.get('https://finance.yahoo.com/quote/' + symbol + '?p=' + symbol + '&.tsrc=fin-srch')
tree = html.fromstring(page.content)
actual_price = float(tree.xpath("//div[contains(@class, 'smartphone_Mt(6px)')]")[0].xpath('./div/span/text()[1]')[0])

In [18]:
margin_of_safety = (intrinsic_value - actual_price)/actual_price
margin_of_safety

nan